<body>
  
  <p>
    <strong>Title:</strong>
    <%= @book.title %>

  </p>

  <p>
    <strong>Body:</strong>
    <%= @book.body %>
  </p>

  <!--<a class="edit_19691" href="/books/19691/edit">Edit</a> |-->
  <!--<a class="back" href="/books">Back</a>-->


  <p><%= link_to "Edit",edit_book_path(@book) %></p>
   |
　<p><a href="/books">back</a></p>

</body>